*{
    background-color: rgb(255,255,255);
}

#alumno
{
  background-color: rgb(67, 138, 183);
  border: none;
  border-radius: 8px;
  color: black;
  padding: 70px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}
#profe
{
  background-color: rgb(185,158,70);
  border: none;
  border-radius: 8px;
  color: black;
  padding: 70px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}
#admin
{
  background-color: rgb(40,84,145);
  border: none;
  border-radius: 8px;
  color: black;
  padding: 70px 40px;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}