@font-face {
    font-family: "Poppins";
    src: url("../../statics/fonts/Poppins-Medium.ttf");
}
*{
    font-family: "Poppins";
}
a {
    text-decoration: none;
}
.contenedor-caja{
    display: flex;
    flex-direction: column;
}
.tarjeta-alumno{
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 260px;
    background-color: rgb(172, 41, 59);
    width: 200px;
    padding: 30px;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
}
.alumnos{
    display: flex;
    width: 98vw;
    height: max-content;
    box-sizing: border-box;
    gap: 30px;
    overflow-x: auto;
}
.foto-alumno{
    border-radius: 50%;
    width: 80%;
    justify-content: center;
    align-items: center;
}