* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Recuadros que te direccionan a otras paginas(los BOTONES)*/
h2
{
    color: white;
    text-align: center;
}

#primero 
{
    display: flex; /*para colocar los recuadros en fila*/
    height: auto;
    flex-direction: row;
    align-items: center;
}
#segundo
{
    display: flex; /*para colocar los recuadros en fila*/
    flex-direction: row;
    align-items: stretch;;
    height: auto;
}
#tercero
{
    display: flex; /*para colocar los recuadros en fila*/
    margin:0px;
    height: 180px;
}
.botones
{text-decoration: none;}
.botones:hover
{ cursor: pointer;}

#actividades
{
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 13px;
    margin-bottom:30px ;
    width: 60%;
    background: rgb(250, 183, 40);
    border-radius: 5px;
    display: flex;          
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    padding: 20px;
}
#formulario
{
    text-align: left;
    background: rgb(177,128, 49);
    flex-grow: 1;
    margin-top: 13px;
    margin-bottom:30px ;
    margin-right: 40px;
    border-radius: 5px;
}
#recursos
{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    flex-grow: 1;
    height: 100%;
    background: rgb(0,32,73);
    border-radius: 5px;
    display: flex;          
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
#masEte
{
    background:rgb(33, 52, 126);
    margin :0px;
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 13px;
    margin-bottom: 30px;
    width: 100%;
    height:auto;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    
}
#ete
{
     margin-left: 40%;
    width:auto;
    height:100px;
}

#contenedor{
    display: flex;       
    flex-direction: column;     
    justify-content: space-evenly; 
}

#actividades img 
{
    display: block; 
    width: auto;    
    max-width: 80%; 
}
