@font-face {
    font-family: "Poppins";
    src: url("../../statics/fonts/Poppins-Medium.ttf");
}
*{
    font-family: "Poppins";
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
    background-color: #ffffff;
}
th, td {
    border: 2px solid black; 
    padding: 8px;
}
summary{
    background-color: #60883F;
    color: white;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}
summary:hover{
    transform: scaleY(1.5); 
    background-color: #FAB728;
    box-shadow: 0px 5px 5px #cfae67; 
}