*{
    background-color: none;
}
#contenedor-inicio-sesion-admin
{
  width:100vw;
  height: 80vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.imagen
{
  border-radius: 50%;
}
form 
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(217,217,217);
  padding: 2px;
  width: 25vw;

}
label
{
   background-color: rgb(217,217,217); 
}
h2 
{
  margin-bottom: 10px; 
}


input[type=text]
{
  width: 80%;
  height: 40px;
  padding: 5px;
  margin: 0px 0px 5px 0px;
  box-sizing: border-box;
  border: 1px solid rgb(217,217,217);
  border-radius: 8px;
  background-color: rgb(162, 175, 233); 
  border-radius: 8px;
}
input[type=password] 
{
  width: 80%;
  height: 40px;
  padding: 5px;
  margin: 0px 0px 5px 0px;
  box-sizing: border-box;
  border: 1px solid rgb(217,217,217);
  border-radius: 8px;
  background-color: rgb(162, 175, 233); 
  border-radius: 8px;
}
input[type=submit] 
{
  width: 40%;
  height: 40px;
  background-color: rgb(122, 141, 236);
  color: white;
  padding: 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover 
{
  background-color: rgb(58, 86, 228);
  cursor: pointer;
}