<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keep-on</title>
    <link rel="stylesheet" href="../statics/css/barra_superior.css">
    <link rel="icon" href="../statics/media/img/COMPUTADORA.png" type="image/png">
    
</head>
<body>
    <div id="barra_superior">
        <img class="logo"id="unam"alt ="logo"src="../statics/media/img/logo_unam.svg">   
        <img class="logo"id="enp"alt ="logo"src="../statics/media/img/logo_enp.svg">           
        <img class="logo"id="etes"alt ="logo"src="../statics/media/img/logo_ete.svg">
        <img class="logo"id=keep-on alt="logo"src="../statics/media/img/COMPUTADORA.png">
    </div>
</body> 

