<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width, initial_scaled=1.0">
    <meta name="author" content="Evelin Guadalupe Martinez Sevilla">
    <meta name="description" content="Juego Coyotron">
    <title>Coyotron</title>
    <link rel="stylesheet" href="../statics/css/coyotron.css">
	</head>
<body>
    <h1>Coyotron</h1>
    <h2>La aventura del conocimiento</h2>
    <img src="../statics/media/img/com.png">
    <div class="desc">
    <p class="text">Coyotron es un proyecto que se realizo con tiempo, dedicacion y esfuerzo 
       por 4 personas que aman lo que hacen, 3 estudiantes que dia a dia dieron un extra
       para poder conseguir el resultado que ahora tienen el honor de compartir con 
       toda la comunidad de Prepa 6, esperan que este sea de su agrado y a su vez que los motive 
       a no dejar de lado nuestro increible Estudio Tecnino en Computacion. Ellos son:
       Álvarez Molina Luana Sofía, León Contreras Angélica Valeria y Resendiz Linares Karen 
    </p>
    </div>
    <h3 id="h">Historia</h3>
    <div class="desc2">
    <p class="text2">Eres un estudiante de prepa 6, tu mayor obetivo es graduarte, pero antes 
        deberas de aprobar las distintas materias comprendidas en los tres grados de 
        bachillerato, ademas puedes aprender distintos temas en algunos lugares de la prepa 
        como la biblioteca, mediateca y salones H de artes.</p>
    </div>
    <h3 id="hs">Objetivos</h3>
    <div class="desc3">
    <p class="text3">Una vez que ya sabemos un poco mas sobre la historia del juego
        tenemos que saber cuales son nuestros objetivos por que y para que estamos en esta
        increible mision.Entre ellos se nos dictamina un unico objetivo el cual es tan dificil
        como importante Graduarnos de prepa 6, tratando de superar todos los obstaculos que se nos puedan 
        presentar durante el recorrido</p>
    </div>
    <h3 id="hn">Niveles</h3>
    <div class="desc4">
    <p class="text4">El juego se construye de 3 niveles, cada uno de ellos comprende una parte unica y esencial del juego a traves de los cuales
        se tienen que atravesar distintos obstaculos y a su vez se pondran a prueba dos de los valores mas importantes
        como lo son la paciencia y adaptabilidad.Cada uno de lis niveles representa un año en la prepa (cuarto, quinto y sexto),
        en cada nivel se tendrá que responder distintas preguntas de tres materias representativas de ese año; además se deberán completar los niveles
        comodín que son de materias que no son exclusivas de un año pero que debes acreditar para pasar la prepa como Educación Física
        o el idioma (que es lo de mediateca), y  una vez que se completa cada uno de estos desafios logras graduarte </p>
    </div>
    <div>
        <img src="../statics/media/img/coy.png" id="in">
    </div>
</body>

</html>
