<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width, initial_scaled=1.0">
    <meta name="author" content="Evelin Guadalupe Martinez Sevilla">
    <meta name="description" content="Juego Meowstellar">
    <title>Meowstellar</title>
    <link rel="stylesheet" href="../statics/css/meowstellar.css">
	</head>
<body>
    <h1>Meowstellar</h1>
    <h2>Un juego que te hara viajar a otro universo</h2>
    <img src="../statics/media/img/meowstellar2.png">
    <div class="desc">
    <p class="text">Meowstelar es un proyecto que se realizo con tiempo, dedicacion y esfuerzo 
       por 4 personas que aman lo que hacen, 4 estudiantes que dia a dia dieron un extra
       para poder conseguir el resultado que ahora tienen el honor de compartir con 
       toda la comunidad de Prepa 6, esperan que este sea de su agrado y a su vez que los motive 
       a no dejar de lado nuestro increible Estudio Tecnino en Computacion. Ellos son:
       Vazquez Moreno Gael, Escamilla Flores Gabriela Abigail, Rosales Estrada María Fernanda,
       Ulage Parias Jorge Adán  
    </p>
    </div>
    
</body>
</html>
